.hero {
  background-image: url("/hero-images/hero.gif");
  background-position: center;
  background-size: cover;
  height: 45vh;
}

.hero-components {
  width: 100%;
  height: 100%;
  position: relative;
}

.hero-logo-absolute {
  position: absolute;
  right: 50%;
  transform: translate(50%);
  bottom: -80px;
}

@media (min-width: 992px) { 
  .presentation-section {
    margin-bottom: 100px;
  }
}

@media (max-width: 991.98px) { /* lg breakpoint di Bootstrap */
  .presentation-section {
    margin-bottom: 3rem;
  }
}